.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-intro {
  padding: 10rem 1rem 0rem 1rem;

  background: linear-gradient(
    180deg,
    rgba(39, 174, 112, 1) 0%,
    rgba(40, 149, 93, 1) 0%,
    rgba(35, 56, 49, 1) 82%,
    rgba(35, 56, 49, 1) 100%
  );
}
.about-intro-title h3 {
  color: var(--color-text-h);
  font-family: "acorn", sans-serif;
  line-height: 100%;
  text-align: center;
  letter-spacing: 1px;
  font-size: 72px;
}
.about-intro-content {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  padding: 3rem 5rem;
}
.about-intro-img {
  width: 85%;
}
.about-intro-img img {
  width: 100%;
  border-radius: 150px 150px 0 0;
}
.about-spotify-bar {
  display: flex;
  /* max-width: 350px; */
  gap: 12px;
  background-color: var(--color-text-h);
  padding: 20px 24px;
  align-items: center;
}
.about-intro-img {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
.about-spotify-bar-content {
  display: flex;
  flex-direction: column;
  gap: 3px;
  text-align: left;
}
.about-intro-content span {
  color: #233831;
  font-size: 15px;
}
.about-intro-content a {
  padding: 0;
  font-size: 13px;
  color: #233831;
}
.about-spotify-bar img {
  width: 15%;
}
.about-intro-text {
  text-align: left;
  padding-left: 1rem;
  padding-top: 1.3rem;
}
.about-intro-text h4 {
  color: var(--color-text-h);
  line-height: 52px;
  margin-bottom: 2rem;
  padding-top: 10px;
  font-size: 48px;
  font-family: "acorn-lighter", sans-serif;
}
/* .about p {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-p);
  font-family: "gt", sans-serif;
} */
.about-intro-content p,
.about-collab-content p,
.about-board-content p,
.about-me-content p {
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-p);
  font-family: "gt", sans-serif;
}
.about-collab {
  padding: 2rem 2rem 3rem 18rem;
  display: grid;
  justify-content: right;
}
.about-collab-content {
  text-align: left;
}
.about-collab-content h3 {
  color: var(--color-text-h);
  font-size: 48px;
  line-height: 34px;
  font-family: "acorn-lighter", sans-serif;
  margin-bottom: 1.5rem;
  letter-spacing: 0.5px;
}
.about-collab-content p {
  padding-right: 10rem;
}
.about-board {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-radius: 60px;
  padding: 4rem 8rem 2rem 8rem;
  background: #8fdcc20d;
  margin: 1rem 3rem;
  gap: 25px;
}
.about-board-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}
.about-board-content span {
  font-size: 43px;
  color: #6b998a;
  letter-spacing: 1px;
  font-family: "acorn-light";
}
.about-board-content h2 {
  font-size: 28px;
  letter-spacing: 1px;
  color: #7cc3ab;
  font-family: "acorn", sans-serif;
}
.about-me {
  display: grid;
  justify-content: center;
  padding: 3rem 5rem;
}
.about-me-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
  padding: 10px 13rem;
}
.about-gallery {
  display: grid;
  padding: 2rem 5rem;
  gap: 15px;
  grid-template-columns: 70% 30%;
}
.about-gallery-box1 {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.about-gallery-box1 p {
  position: absolute;
  bottom: -50px;
  left: 10px;
  background: var(--color-backdrop);
  padding: 5px 7px;
  color: var(--color-text-p);
  border-radius: 5px;
  transition: all 0.5s;
  font-size: 12px;
}
p.active {
  bottom: 12px;
}
/* @keyframes animate {
  from {
    bottom: -30px;
  }
  to {
    bottom: 10px;
  }
} */

.about-gallery-box1 img {
  width: 100%;
  border-radius: 16px;
}
.about-gallery-box2 {
  /* background-color: var(--color-text-p); */
  border-radius: 16px;
  width: 100%;
  display: grid;
  grid-template-rows: 55% 45%;
  gap: 5px;
  height: 98%;
  position: relative;
}
.about-gallery-box2 iframe {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  border: 0;
}
.github-details {
  /* background-color: hsla(0, 0%, 100%, 1); */

  background: var(
    --light-grad-pink-blue,
    radial-gradient(ellipse at 40% 0%, #bf398910 0, transparent 75%),
    radial-gradient(ellipse at 60% 0%, #096bde10 0, transparent 75%)
  );
  background-color: #161b22;
  border: 1px solid #becce439;
  /* background-color: #7cc3ab; */
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.githubLogo {
  width: 20px;
  border-radius: 50%;
  position: relative;
  left: -15px;
}
/* .github-details div img{
  width: 4rem;
  border-radius: 50%;
} */
.github-details a {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.github-details h2 {
  margin-top: 8px;
  font-size: 120%;
  color: var(--color-text-h);
  font-weight: 700;
  font-family: "acorn-light", sans-serif;
}
.github-details span {
  color: var(--color-text-p);
}
.githubLogo2 {
  width: 3rem;
  border-radius: 50%;
  /* object-fit: contain; */
}
@media screen and (max-width: 700px) {
  .about-intro {
    padding: 7rem 1rem 0rem 1rem;
  }
  .about-intro-title h3 {
    font-size: 60px;
  }
  .about-intro-content {
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0;
  }
  .about-collab {
    padding: 2rem 1rem;
    display: grid;
    justify-content: right;
  }
  .about-board {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    border-radius: 50px;
    padding: 2rem 1rem;
    margin: 1rem;
    gap: 20px;
  }
  .about-collab-content p {
    padding-right: 1rem;
  }
  .about-intro-text {
    text-align: left;
    padding-left: 0.2rem;
    padding-top: 1.3rem;
  }
  .about-intro-img {
    padding: 5px;
  }

  .about-intro-img {
    width: 100%;
  }
  .about-intro-text h4 {
    line-height: 100%;
  }
  .about-collab-content h3 {
    font-size: 55px;
    line-height: 100%;

    margin-bottom: 1.5rem;
    letter-spacing: 0.5px;
  }
  .about-me {
    padding: 3rem 1rem;
  }
  .about-me-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
    padding: 10px;
  }
  .about-gallery {
    grid-template-columns: 1fr;
    padding: 2rem 1rem;
    gap: 15px;
    grid-template-rows: 45% 55%;
    height: 105vh;
  }
  .about-gallery-box1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
  .about-gallery-box2 {
    /* background-color: var(--color-text-p); */
    border-radius: 16px;
    width: 100%;
    display: grid;
    grid-template-rows: 60% 40%;
    gap: 5px;
    height: 100%;
    position: relative;
}
}
