* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: "acorn";
  src: url('acorn/Acorn-Bold.otf');
}
@font-face {
  font-family: "gt";
  src: url('acorn/FontsFree-Net-GT-America-Regular-1.ttf');
}

:root {
  --color-primary: hsla(158, 23%, 18%, 1);
  --color-backdrop: hsla(158, 23%, 18%, 0.7);
  --color-text-h: hsla(160, 52%, 71%, 1);
  --color-text-p: hsla(159, 42%, 88%, 1);
  --coor-text-secondary:hsla(159, 42%, 88%, 1);
 
}
body {
  background-color: var(--color-primary);
  /* padding: 1rem 1.5rem; */
}
a{
  color: var(--coor-text-secondary);
  text-decoration: none;
  font-size: 14px;
  padding: 10px 13px;
  font-family: 'gt';
}
a.active{
  background-color:#66ac9733;
  
  border-radius: 50px;
}