* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: "acorn";
  src: url('acorn/Acorn-Bold.otf');
}
@font-face {
  font-family: "gt";
  src: url('acorn/FontsFree-Net-GT-America-Regular-1.ttf');
}

:root {
  --color-primary: hsla(158, 23%, 18%, 1);
  --color-backdrop: hsla(158, 23%, 18%, 0.7);
  --color-text-h: hsla(160, 52%, 71%, 1);
  --color-text-p: hsla(159, 42%, 88%, 1);
  --coor-text-secondary:hsla(159, 42%, 88%, 1);
  --color-gradient: linear-gradient(
    to bottom,
    hsla(158, 23%, 18%, 0) 0%,
    hsla(158, 23%, 18%, 0.013) 9.7%,
    hsla(158, 23%, 18%, 0.049) 18.1%,
    hsla(158, 23%, 18%, 0.104) 25.5%,
    hsla(158, 23%, 18%, 0.175) 31.9%,
    hsla(158, 23%, 18%, 0.259) 37.7%,
    hsla(158, 23%, 18%, 0.352) 43%,
    hsla(158, 23%, 18%, 0.45) 47.9%,
    hsla(158, 23%, 18%, 0.55) 52.8%,
    hsla(158, 23%, 18%, 0.648) 57.7%,
    hsla(158, 23%, 18%, 0.741) 63%,
    hsla(158, 23%, 18%, 0.825) 68.7%,
    hsla(158, 23%, 18%, 0.896) 75%,
    hsla(158, 23%, 18%, 0.951) 82.2%,
    hsla(158, 23%, 18%, 0.987) 90.5%,
    hsl(158, 23%, 18%) 100%
  );
}
body {
  background-color: var(--color-primary);
  /* padding: 1rem 1.5rem; */
}
a{
  color: var(--coor-text-secondary);
  text-decoration: none;
  font-size: clamp(.875rem, .7985rem + .3265vw, 1.125rem);
  padding: 10px 13px;
  font-family: 'gt';
}
a.active{
  background-color: var(--color-backdrop);
  
  border-radius: 50px;
}